<div class="hidden md:block">
    <div
        class="bg-[#c10206] dark:bg-[#2D333C] h-[88px] flex items-center justify-around">
        <div>
            <img class="h-14"
                src="https://sportatsite.com/assets/logo-66d4ae58.png">
        </div>
        <div>
            <img class="h-14"
                src="https://www.sportspotsverige.se/V4/Content/TopicLogo/mainlogo.png">
        </div>
        <div>
            <button class="text-white" (click)="openSidebar()">
                <i class="fa-solid fa-bars"></i></button>
        </div>
    </div>
</div>

<div class="block md:hidden">
    <div
        class="bg-[#c10206] dark:bg-[#2D333C] h-[80px] flex items-center justify-around">
        <div>
            <button class="text-white">
                <i class="fa-solid fa-bars"></i>
            </button>
        </div>
        <div>
            <img class="h-12"
                src="https://sportspotsverige.se/assets/sportblits_news_A4-f1a2085f.png">
        </div>
        <div>
            <button class="text-white">
                <i class="fa-solid fa-gear h-5"></i>
            </button>
        </div>
    </div>
</div>

